{% extends 'base.html.twig' %}

{% block title %}Liste des spectacles{% endblock %}

{% block body %}
    <h1>Liste des {{ resource }}</h1>
    <div class="row">
    <div class="col-md-4">
    <ul class="list-group">
    {% for show in shows %}
        <li class="list-group-item">{{ show.title }}
            {% if show.bookable %}
            <span>{{ show.price }} €</span>
            {% endif %}
            
            {% if show.representations|length==1 %}
            - <span>1 représentation</span>
            {% elseif show.representations|length>1 %}
            - <span>{{ show.representations|length }} représentations</span>
            {% else %}
            - <em>aucune représentation</em>
            {% endif %}
            <a href="{{path('show_show',{id:show.id})}}" class="btn btn-primary">detail</a>
        </li>
    {% endfor %}
    </ul>
    </div>
    </div>
{% endblock %}
