{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                {% for groups in reservations %}
                    <li class="list-group-item">
                        <ul class="list-group">{{ groups.0.user.firstname }} {{ groups.0.user.lastname }}
                        {% for reservation in groups %}
                            <li class="list-group-item">
                                <div>{{ reservation.representation.theShow.title }}</div> ({{ reservation.places }} places)
                                <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                                <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>no records found</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('reservation_new') }}">Create new</a>
{% endblock %}
